.archives{
	position: relative;
	&:last-of-type{
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			border-top: 1px solid $color-gray04;
		}
	}
	article{
    border: none;
		padding: 15px 0 !important;
    margin-bottom: 0 !important;
		.title{
			margin-bottom: 0;
      a{
        color: #666;
        display: inline-block;
        width: 100%;
        @include transition(color 0.3s);
        &:hover{
          color: $color-main;
          text-decoration: underline;
        }
      }
		}
    .excerpt {
      margin-top: 5px;
      color: #999;
    }
    & > .meta {
      display: inline-block;
      vertical-align: top;
    }
		.meta{
			color: $color-gray02;
			font-size: 0.9em;
      float: left;
			@media screen and (max-width: 600px){
				display: none;
			}
			span{
				@include inline-block;
				&:before{
					color: $color-gray03;
					font: 1.3em $font-icon;
					padding-right: 10px;
				}
        vertical-align: baseline;
			}
			a{
				color: $color-gray02;
				@include transition(0.3s);
				&:hover{
					color: #258FB8;
				}
			}
			.date:before{content: "\f073";}
			.tags:before{content: "\f02c";}
			.comments:before{content: "\f075";}
		}
    .post-info {
      margin-left: 85px;

			@media screen and (max-width: 600px){
        margin-left: 0;
      }

      & > .meta {
        margin-top: 5px;
        .tags > .category { vertical-align: top; }
      }
    }
	}
}
