<script src="{{ root_url }}/javascripts/slash.js"></script>
{% include disqus.html %}
{% include google_analytics.html %}
{% include custom/after_footer.html %}

<!--MathJax CDN-->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  MathJax.Hub.Config({
    messageStyle: "none",
    styles: {
      ".MathJax_Display": {
        "font-weight": "normal"
      },
      ".MathJax": {
        "font-weight": "normal"
      }
    },
    showMathMenu: false
  });
</script>

<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery("time.timeago").timeago();
});
</script>
