{% capture date %}{{ post.date }}{% endcapture %}
{% capture gen_year %}{{ site.time | date: "%Y" }}{% endcapture %}
{% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
	{% assign year = this_year %}
	{% unless forloop.first %}
		</section>
	{% endunless %}
	<section class="archives">
  {% unless gen_year == this_year %}
    <h2 class="year">{{ this_year }}</h2>
  {% endunless %}
{% endunless %}
<article>
	<span class="meta">
		<span class="date">{{ date | date: "%b %e" }} »</span>
	</span>
  <div class="post-info">
    <h2 class="title"><a href="{{ root_url }}{{ post.url }}"><span>{{post.title}}</span></a></h2>
    <div class="excerpt">
      {% capture excerpt %}{{ page.excerpt }}{{ post.excerpt }}{% endcapture %}
      {% if excerpt %}
        {{ excerpt }}
      {% endif %}
    </div>
  </div>
</article>

