{% if index %}
	<h2 class="title">
		{% if post.external-url %}
		<a href="{{ post.external-url }}"><span>
		{% else %}
		<a href="{{ root_url }}{{ post.url }}"><span>
		{% endif %}
		{{ post.title }}</span></a>
	</h2>
	<div class="entry-content">
    {% capture excerpt %}{{ page.excerpt }}{{ post.excerpt }}{% endcapture %}
    {% if excerpt %}
      {{ excerpt }}
    {% else %}
      {{ content | excerpt }}
      {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
      {% if excerpted == 'true' %}<a href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
    {% endif %}
	</div>
{% else %}
  <h2 class="title"><a href="{{ root_url }}{{ post.url }}"><span>{{ page.title }}</span></a></h2>
	<div class="entry-content">{{ content }}</div>
{% endif %}

<div class="meta">
	<div class="date">{% include post/date.html %}{{ time }}</div>
	<div class="tags">{% include post/categories.html %}</div>
	{% if site.disqus_short_name and site.disqus_show_comment_count == true %}
		<span class="comments"><a href="{{ root_url }}{{ post.url }}{{ page.url }}#disqus_thread">Comments</a></span>
	{% endif %}
</div>

