// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.gist {
  margin-top: 10px !important;
}

.entry-content .gist .gist-file .gist-meta a {
  background: none;
  font-family: "Helvetica Neue", sans-serif;
  text-shadow: none;
  border: 0;
  padding: 0;
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}

.entry-content .gist .gist-file {
  border: 0;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0;
}

.entry-content .gist .gist-file .gist-data {
  background-color: #f2f9ff;
  border-bottom: 1px solid #8ccaff;
}

.entry-content .gist .gist-file .gist-data pre {
  padding: 10px !important;
  color: #00427b;
}

.entry-content .gist .gist-file .gist-meta {
  background-color: #d0e9ff;
  color: #00427b;
  padding: 5px 10px !important;
  // box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.entry-content .gist .gist-file .gist-meta a,
.entry-content .gist .gist-file .gist-meta a:visited {
  color: #00427B !important;
  font-weight: bold;
}

.entry-content code,
.entry-content pre {
  font-family: "Menlo", "Monaco", "Consolas", sans-serif !important;
}

.entry-content > pre {
  background-color: #f2f9ff;
  color: #00427b;
  padding-left: 10px;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.entry-content p > code {
  background-color: #EEE;
  padding: 1px 5px;
  font-size: 14px;
}

